include ../../var&mixin/_vars
include ../../var&mixin/_vars

    main.content
        include ./content-modules/_content-services
        include ./content-modules/_content-about-services
        include ./content-modules/_content-how-get-servises
        include ./content-modules/_content-excellence
        include ./content-modules/_content-app
        include ./content-modules/_content-reviews
        include ./content-modules/_content-partners
        include ./content-modules/_content-rates