extends ../demo

block page
    .app__wrap
        include ../modules/header/_header
        include ../modules/content/_content
        include ../modules/footer/_footer
        include ../modules/modal-windows/_modals