//colors

$red: #c91111;
$green: #26b83a;
$black: #0e0e0e;
$grey: #9a9a9a;

$btn-green: #009c00;
$btn-red: #ff3c11;
$btn-blue: #012b7d;

$bg-color: #f5f5f5;

//fonts

$fontR: Roboto;

//view-ports

$view-port-content: 1280px;